.dropdown {

padding-left: 0;
}

.dropdown-wrapper {
	padding-left: 0;
	padding-right: 0;
}

#bg-nested-dropdown {
	height: 35px;
	margin: auto;
	font-size:14px;
	border-radius: 0px;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding:10px;
}

#buttons {

	max-width: 115px;
	min-width: 115px;
	font-size: 14px;
	border-radius: 0px;
	margin-top: 10px;
	height: 35px;


}

.buttons {

}

.main-button {
	margin-left: 40%;
	margin-top: 8%;
}