.dropdown {

padding-left: 0;
}

.dropdown-wrapper {
	padding-left: 0;
	padding-right: 0;
	opacity: .9;

}

/*#bg-nested-dropdown {
	height: 35px;
	margin: auto;
	font-size:14px;
	border-radius: 0px;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding:10px;
  opacity: .9;
}*/

#bg-nested-dropdown {
	display: inline-block;
  margin: 0 10px 0 0;
  padding: 15px 45px;
  font-size: 18px;
  line-height: 2px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  color: black;
  color: #fff;
  background: rgba(0,0,0,0);
  text-shadow: -1px 1px #417cb8;
  border: solid 5px #6496c8;
}

#bg-nested-dropdown:hover {
	background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

#bg-nested-dropdown:active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

ul.dropdown-menu {
	
	overflow: scroll;
}

#buttons {

	max-width: 115px;
	min-width: 115px;
	font-size: 14px;
	border-radius: 0px;
	margin-top: 10px;
	height: 35px;


}

.buttons {

}

.main-button {
	margin-left: 40%;
	margin-top: 8%;
}