
.header{
  text-align: center;
}

.header p {
  display: inline-block;
  font-family: Helvetica;
  font-size: 72px;
  color: black;
  text-transform: uppercase;
  position: relative;
  margin: 0 20px;
  float: left;
  opacity: 0.0;
  animation: port 3s 1 forwards;
  -webkit-animation: port 3s 1 forwards;
}

.header p:nth-of-type(2){
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.header p:nth-of-type(3){
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

.header p:nth-of-type(4){
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

.header p:nth-of-type(5){
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.header p:nth-of-type(6){
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  font-weight: 100;
}

.header p:nth-of-type(7){
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  font-weight: 100;
}

.header p:nth-of-type(8){
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  font-weight: 100;
}

.header p:nth-of-type(9){
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  font-weight: 100;
}

/*.header:hover p {
  animation: reset 1s 1;
  -webkit-animation: reset 1s 1 ;
}*/

@keyframes port {
  0%{
    transform: rotateY(90deg) translateY(25%);
    opacity: 0.0;
  }
  100%{
    transform: rotateY(0deg) translateY(0%);
    opacity: 1.0;
  }
}

@-webkit-keyframes port {
  0%{
   -webkit-transform: rotateY(90deg) translateY(25%);
    opacity: 0.0;
  }
  100%{
    -webkit-transform: rotateY(0deg) translateY(0%);
    opacity: 1.0;
  }
}

@keyframes reset {
  0%{}
  100%{}
}

@-webkit-keyframes reset {
  0%{}
  100%{}
}