@import '_colors.scss';

table.menu-table.container {
    max-width: 800px;
}


table.menu-table {

  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 10px;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  min-width: 160px;

}
/*.menu-table > thead > tr > th.table-head {
    padding: 10px;
}*/   
/*
#app > div > div > div.container-fluid.text-center > div > table > thead > tr > th {
    padding: 20px;
}*/  
.menu-table thead {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-width: 160px;
    line-height: 2px;

}

/* pulls 'Menu items' column left */    
.menu-table > thead > tr > th:nth-child(1) {
  text-align: left;
}

.menu-table thead th {
    font-size: 11px;
    font-weight: 400;
    color: #fff;
/*            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);*/
    text-align: center;

    background-size: 100%;
/*  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646f7f), color-stop(100%, #4a5564));
    background-image: -moz-linear-gradient(#646f7f, #4a5564);
    background-image: -webkit-linear-gradient(#646f7f, #4a5564);
    background-image: linear-gradient(#646f7f, #4a5564);*/
    background-color: #6496c8;
    border-top: 1px solid #858d99;
    padding: 25px;
}
/*#app > div > div > div.col-sm-6.meal-wrapper.\31 > div > div.table.menu-display.row-fluid > div > table > thead > tr > th:nth-child(6) {
    padding:5px;
}*/
/*.menu-table thead tr:first-child th {
  text-align: left;
}*/

.menu-table thead th:first-child {
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 25%;
}

.menu-table thead th:last-child {
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.menu-table tbody tr td {
    font-weight: 400;
    color: #5f6062;
    font-size: 10px;
    padding: 12px 12px 12px 12px;
    border-bottom: 1px solid #e0e0e0;
}

.menu-table tbody tr:nth-child(2n) {
    background: #f0f3f5;
}

.menu-table tbody tr:last-child td {
    border-bottom: none;
}

.menu-table tbody tr:last-child td:first-child {
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.menu-table tbody tr:last-child td:last-child {
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu-table tbody:hover > tr td {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

.menu-table tbody:hover > tr:hover td {
    text-shadow: none;
    color: #2d2d2d;
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    transition: 0.2s all;
}

@media screen and (max-width: 767px) {
    .menu-table thead {
    }
    .menu-table tr {
        margin-bottom: 10px;
        display: block;
    }
    .menu-table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }
    .menu-table td:last-child {
        border-bottom: 0;
    }
    .menu-table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
    table.menu-table {
        width: 100%;
    }
}
.menu-table > thead > tr > th:nth-child(1) {

}





